.guitxo-tooltip {
  &__container {
    position: absolute;
    padding: .5rem;
    border-radius: .25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;

    &--top-start::after,
    &--top-center::after,
    &--top-end::after,
    &--bottom-start::after,
    &--bottom-center::after,
    &--bottom-end::after,
    &--right-start::after,
    &--right-center::after,
    &--right-end::after,
    &--left-start::after,
    &--left-center::after,
    &--left-end::after {
      content:'';
      position: absolute;
      margin: 0;
      width: 0;
      border-style: solid;
    }

    &--top-start::after,
    &--top-center::after,
    &--top-end::after {
      top: 100%;
      border-width: 10px 5px 0 5px;
      border-top-color: inherit;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &--bottom-start::after,
    &--bottom-center::after,
    &--bottom-end::after {
      bottom: 100%;
      border-width: 0px 5px 10px 5px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: inherit;
      border-left-color: transparent;
    }

    &--top-start::after,
    &--bottom-start::after {
      left: 5px;
    }

    &--top-center::after,
    &--bottom-center::after {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &--top-end::after,
    &--bottom-end::after {
      right: 5px;
    }

    &--right-start::after,
    &--right-center::after,
    &--right-end::after {
      left: -10px;
      top: calc(50% - 5px);
      border-width: 5px 10px 5px 0px;
      border-top-color: transparent;
      border-right-color: inherit;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &--left-start::after,
    &--left-center::after,
    &--left-end::after {
      left: 100%;
      top: calc(50% - 5px);
      border-width: 5px 0px 5px 10px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: inherit;
    }
  }
}