@import "../../assets/fonts/fonts";

.guitxo-expandible {
  &__container {
    border: solid 1px #000;
    border-radius: .25rem;
    padding: .5rem;
  }

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__title {
    flex: 1 1 auto;
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;

    & > * {
      overflow: hidden;
    }
  }
}